<p-data-view
  #dv
  [value]="vehicles()"
  [pt]="{
    header: { class: 'sticky top-0 z-50 bg-surface-0 dark:bg-surface-900 shadow-sm p-0' },
  }"
>
  <ng-template #header>
    <div class="flex flex-row justify-between items-center p-4">
      <div class="font-medium text-surface-900 dark:text-surface-0 text-lg">
        Regisztrált járművek összesen:
        <span class="font-bold text-amber-500">{{ vehicles().length }}</span>
        db
      </div>
      <div class="flex flex-row gap-2">
        <a raised [routerLink]="'/add'" pButton label="Új jármű" icon="pi pi-plus">Új felvétele</a>
      </div>
    </div>
  </ng-template>

  @if (vehicles().length === 0) {
    <div class="flex flex-col justify-center items-center gap-4 p-5">
      <div class="font-medium text-surface-900 dark:text-surface-0 text-lg">
        Nincs regisztrált jármű!
      </div>
      <a [routerLink]="'/add'" pButton label="Új jármű" icon="pi pi-plus">Új felvétele</a>
    </div>
  }

  <ng-template #list let-items>
    <div class="grid grid-cols-12 gap-4 grid-nogutter">
      @for (item of items; track item.id; let first = $first) {
        <div class="col-span-12">
          <div
            class="flex flex-col sm:flex-row sm:items-center p-5 gap-4"
            [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
          >
            <div class="relative sm:w-30 w-20 shrink-0">
              <img
                class="hidden md:block xl:block mx-auto rounded-border w-full"
                src="tractor.png"
                [alt]="item.name"
              />
              <p-tag
                [value]="item.id"
                class="absolute dark:bg-surface-900!"
                [style.left.px]="4"
                [style.top.px]="4"
                rounded
              />
            </div>

            <div
              class="grid grid-cols-1 md:grid-cols-4 items-center flex-1 gap-4 text-center md:text-left"
            >
              <div
                class="font-medium text-surface-900 dark:text-surface-0 text-lg"
                [title]="item.name"
              >
                {{ item.name || 'Hiányzó megnevezés!' }}
              </div>

              <div
                class="font-medium text-surface-900 dark:text-surface-0 justify-center items-center flex flex-col"
              >
                <span class="md:hidden visible font-semibold">Gyártási év: </span>
                {{ item.buildYear || 'Hiányzó gyártási év!' }}
              </div>

              <div class="flex flex-col justify-center items-center">
                <div class="font-medium text-surface-900 dark:text-surface-0">
                  {{ item.owner || 'Hiányzó tulajdonos!' }}
                </div>
                <div
                  class="font-medium text-surface-900 italic dark:text-surface-0 text-sm opacity-80"
                >
                  {{ item.location || 'Hiányzó helyszín!' }}
                </div>
              </div>

              <div class="flex flex-col justify-center items-center md:items-end">
                <a
                  [routerLink]="'/details/' + item.id"
                  raised
                  variant="text"
                  severity="info"
                  pButton
                  class="w-full md:w-auto"
                  >Módosítás</a
                >
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-data-view>
